html {
    scroll-padding-top: 3.5rem;
}

header {
    padding-top: 9rem;
    padding-bottom: 6rem;
}

section {
    padding-top: 9rem;
    padding-bottom: 9rem;
}
th{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
th:hover {
    background-color: #4fa9e6;
    cursor: pointer;
}